.App-header {
  background-color: #1988E8;
  padding: 1.5em;
  color: white;
  margin-bottom: 1em; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.hotel-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  width: 1200px; }
  .hotel-container .filter {
    display: block;
    margin-bottom: 1em; }

.hotel {
  background: #fff;
  display: flex;
  margin-bottom: 1em; }
  .hotel .description {
    width: 50%;
    padding: 1em; }
  .hotel .key-words,
  .hotel .stars {
    list-style: none;
    padding: 0; }
    .hotel .key-words li,
    .hotel .stars li {
      display: inline-block;
      margin-right: 1em; }
  .hotel .stars .filled {
    color: #FF3B00; }
  .hotel .key-words li {
    background-color: #F0F0F0;
    padding: 0.7em 1em;
    border-radius: 2em;
    font-size: 0.8em;
    margin-bottom: 0.5em; }
  .hotel .location {
    color: #1988E8; }
  .hotel .title {
    margin-top: 0;
    font-size: 1.2em; }
  .hotel .thumb {
    margin: 0;
    position: relative; }
    .hotel .thumb .title {
      background: #FF3B00;
      color: white;
      font-weight: bold;
      position: absolute;
      text-transform: uppercase;
      top: 10px;
      padding: 0.5em; }

.price-details {
  text-align: center;
  padding: 1em;
  border-left: 2px solid #F0F0F0; }
  .price-details .old-price,
  .price-details .current-price,
  .price-details .condition {
    margin: 0 0 0.5rem 0; }
  .price-details .old-price {
    text-decoration: line-through;
    font-size: 1.2em;
    color: #FF3B00; }
  .price-details .current-price {
    font-size: 2em;
    font-weight: bold; }
  .price-details .condition {
    color: green;
    font-size: 0.8em; }
  .price-details .options {
    list-style: none;
    padding: 0; }
  .price-details .btn {
    border: none;
    background: #FF3B00;
    padding: 0.7em 1em;
    border-radius: 2em;
    color: white; }
  .price-details .offer {
    font-size: 0.9em;
    margin-bottom: 0.5em; }
  .price-details .price {
    font-size: 1em; }
